body{
    background-color: beige;
}

#titletext{
    display: flex;
    justify-content: left;
    align-items: center;
}

#producttext, #product,#basic_plan, #premium_plan{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    height: 100vh;
}

.hardware{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    height: 100vh;
}